# Database Connection (Neon PostgreSQL or any standard PostgreSQL connection string)
DATABASE_URL="postgresql://neondb_owner:npg_placeholder@ep-cool-sample.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Authentication Secret (Used for signing secure JWT session cookies)
AUTH_SECRET="quicktestwala-super-secure-production-secret-token-32chars"

# Razorpay Credentials (for Indian Payment Gateway integration)
# Leave empty or keep placeholder for automatic Sandbox / Mock Payment Provider in development
# RAZORPAY_KEY_ID="rzp_test_placeholder_key"
# RAZORPAY_KEY_SECRET="rzp_test_placeholder_secret"

RAZORPAY_KEY_ID=rzp_test_TCClFCbswhuHpb
RAZORPAY_KEY_SECRET=OMNFIlOxf6fx27cIKhQYk9Ol

# Public Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
